{% extends "base.html" %}

{% block content %}
  {#  <div class="col-lg-6">#}
  {#    </div>#}

  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Input your data</h3>
      </div>
      <div class="panel-body">
        <form class="form" method="post" action="{% url 'home' %}">
          {% csrf_token %}
          {% for field in form %}
            {#      {% if field.err %}#}

            <div class="form-group required {% if field.errors %} has-error{% endif %}">
              <label id="{{ field.id_for_label }}" for="{{ field.auto_id }}"
                     class="control-label" style="text-align: left">{{ field.label }}</label>
              {% for error in field.errors %}
                {# we probably should use the id_for_label instead of these               #}
                {#  https://docs.djangoproject.com/en/1.8/ref/forms/api/#django.forms.BoundField.html_name #}
                <br>
                <label id="error_{{ field.id_for_label }}"
                       class="control-label"
                       for="{{ field.auto_id }}">{{ error|escape|linebreaks }}</label>
              {% endfor %}

              <div class="input-group col-lg-12">

                {{ field }}
                <span class="input-group-addon">{{ field.help_text }}</span>
              </div>
            </div>
          {% endfor %}
          <button class="btn btn-default" type="submit">Submit</button>

        </form>
        {##}
      </div>

    </div>
  </div>
{% endblock %}